<% if can? :create, Chatroom.new %>
  <%= link_to 'New Room', new_chatroom_path %>
<% end %>

<ul>
  <% @chatrooms.each do |chatroom| %>
    <li><%= link_to chatroom.name, chatroom_path(chatroom) %></li>
  <% end %>
</ul>